.metis-node-port-in {
  position: absolute;
  top: -8px;
  left: 52px;
}

.metis-node-port-out {
  position: absolute;
  bottom: -14px;
  left: 52px;
}

.metis-node {
  width: 120px;
  height: 50px;
  border: solid 1px darkgray;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 5px 0 #888;
  opacity: 0.9;
  padding: 4px;

  &.selected {
    border-color: #00c0ff;
    box-shadow: 0 1px 5px 0 #00c0ff;
  }
}

.metis-node-type {
  font-size: 8px;
  font-weight: bold;
  height: 30%;
}

.metis-node-name {
  font-size: 16px;
  text-align: center;
  align-items: center;
  height: 40%;
}

.metis-node-repeats {
  float: right;
  font-size: 10px;
  height: 20%;
}

.circle-port {
  width: 14px;
  height: 14px;
  margin: 2px;
  border-radius: 7px;
  font-size: 4px;
  color: white;
  background: #111;
  cursor: pointer;

  &:hover {
    background: #00c0ff;
  }
}
